<h2>Customizable List Component Demo</h2>
<div id="customizableList" class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <div id="menuComponent">list menu</div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div id="filterComponent">
        <app-filter></app-filter>
      </div>
    </div>
    <div class="col-9">
      <div id="listComponent">
        <app-item-list [itemListTemplate]="itemListTemplate"></app-item-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <div id="pagingComponent">
        <app-paging></app-paging>
      </div>
    </div>
  </div>
</div>
