<ng-container *ngTemplateOutlet="itemListTemplate;context:templateContext">
</ng-container>
<!-- <div id="itemList">
  <div class="row" id="listItem" *ngFor="let item of items; let i=index">
    <div class="col-1">{{item.position | position}}</div>
    <div class="col-5">{{item.name}}</div>
    <div class="col-1">{{item.age}}</div>
    <div class="col-3">{{item.club}}</div>
    <div class="col-2">{{item.season}}</div>
  </div>
</div> -->

<!--
<div id="itemList">
    <div class="row" id="listItem" *ngFor="let item of items; let i=index">
      <div class="col-1">{{item.position | position}}</div>
      <div class="col-5">{{item.name}}</div>
      <div class="col-1">{{item.age}}</div>
      <div class="col-3">{{item.club}}</div>
      <div class="col-2">{{item.season}}</div>
    </div>
    <ng-container *ngTemplateOutlet="test;context:templateContext"></ng-container>
  </div>
  <ng-template #test let-itemsList="items">
    <h2>Test template</h2>
    <div>{{items | json}}</div>
    <span>testProperty - {{testProperty}}</span>
    <div *ngIf="itemsList; else loadingItems">3rd item in the list - {{ itemsList[2] }}</div>
    <ng-template #loadingItems>loading...</ng-template>
    <div>{{ itemsList | json }}</div>
    <div class="row" id="listItem" *ngFor="let item of itemsList">
      <div>{{item}}</div>
    </div>
  </ng-template>
-->
